@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to iSparkz Solutions Pvt Ltd </h1>
    <p>AZ-104 Learning Paths <a href="https://learn.microsoft.com/en-us/training/courses/az-104t00">Prepare for AZ-104 certification.</a>.</p>
    <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/bb8de541-bb1c-4905-9e1f-c510a542fd9b/d6256et-a5a7efbd-395a-41e3-a90a-bdb6e016d512.jpg/v1/fit/w_828,h_556,q_70,strp/sparkz_by_sparkzinsanity_d6256et-414w-2x.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9OTIwIiwicGF0aCI6IlwvZlwvYmI4ZGU1NDEtYmIxYy00OTA1LTllMWYtYzUxMGE1NDJmZDliXC9kNjI1NmV0LWE1YTdlZmJkLTM5NWEtNDFlMy1hOTBhLWJkYjZlMDE2ZDUxMi5qcGciLCJ3aWR0aCI6Ijw9MTM3MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.iNq7n5gBl-gLDK-4tCl9dTeCLYUjxAUMVY-xb2gR3Is">
   
</div>
